body {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Baloo 2', cursive;
}

p{
    font-size: large;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigationbuttons{
    position: relative;
    top: 20px;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    font-size: larger;
}

main{
    flex: 1 0 auto;

}

.emu-green {
    background-color: #006A35;
}

.icon {
    font-size: 24px;
}

.page{
    padding-left: 300px;
    padding-top: 30px;
}

.page_content{
    height: 80vh;
}

.subheader{
    font-size: larger !important;
}

