body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Baloo 2', cursive;
}

p{
    font-size: large;
}

main{
    flex: 1 0 auto;

}

.emu-green {
    background-color: #006A35;
}

.icon {
    font-size: 24px;
}

.page{
    height: 100vh;
    padding-left: 300px;
    padding-top: 30px;
}

.subheader{
    font-size: larger !important;
    color: black;
}